.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app__main {
  flex: 1;
  background-color: #323846;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.app__footer {
  background: #424959;
}
